.Hud {
    position: absolute;
    left: 2px;
    top: 10px;
    image-rendering: pixelated;
    width: 500px;
    /* background-color: lavender;  */
    background-color: rgba(245, 245, 245, 0.371);
}

.Hud .Combatant{
    position: relative;
    margin-bottom: 10px;
}

.Hud .Combatant_type{
    display: none;
}